body
{
text-align:center;
font-family:courier;
background-color:#F6F6F6;
}

h2
{
float:right-top;
margin-left:400px;
}

div
{
position:relative;
margin-right:auto;
margin-left:auto;
width:70%;
}

textarea
{
width:500px;
height:400px;
float:right;
}

#imgSpan
{
float:left;
margin-left:100px;
}

#textInput
{
width:300px;
}

#confirmButton
{
width:100px;
}

#directionButtons
{
position:static;
width:10px;
height:10px;
}

#input
{
float:right;
}